* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2,
h4 {
  margin: 10px;
  padding-bottom: 10px;
}

/* header section */

header {
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  background-color: black;
  z-index: 1;
}

.navigation li {
  list-style-type: none;
  display: inline;
  text-decoration: underline;
  padding: 10px;
  margin-right: 10px;
}

#logo {
  height: 50px;
  margin-left: 10px;
}

/* Main section */

main {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin-bottom: 30px;
}

.mission {
  background-image: url("../media/pictures/img-mission-background.webp");
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#missionstatement {
  background-color: black;
  width: 100%;
  opacity: 0.9;
}

.teaofthemonth {
  width: 1000px;
}

.imgcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.teapicture img {
  width: 300px;
  height: 200px;
  margin: 0px 10px;
}

.locations {
  height: 600px;
  width: 1200px;
  background-image: url("../media/pictures/img-locations-background.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.locations h2 {
  padding-bottom: 5px;
}

.addresscontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.address {
  background-color: black;
  width: 300px;
  height: 280px;
  padding: 10px 0;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
}

.contact {
  height: 200px;
}

/* footer section */

footer {
  text-align: left;
  margin: 30px 20px;
}
